# List

In [6]:
st1 = "asad"
st2 = "saad"
st3 = "fahad"

students = ["asad", "saad", "fahad", "Kashif"] #List formation
# index    [ 0    ,  1    ,  2    ,    3]

In [7]:
len(students) #Total length of list

4

In [10]:
students[3] #To get value from list

'Kashif'

In [12]:
#Dynamic List

alist = ["string", 123, 124.5, False]

In [14]:
#Updating values
alist[0] = "Pakistan"
alist

['Pakistan', 123, 124.5, False]

In [15]:
#Deleting

del alist[3]
alist

['Pakistan', 123, 124.5]

In [16]:
#Adding values to end of list
alist.append("Hello world")
alist

['Pakistan', 123, 124.5, 'Hello world']

In [19]:
#Adding values in b/w list.
alist.insert(2, "python programming")
alist

['Pakistan',
 123,
 'python programming',
 'python programming',
 124.5,
 'Hello world']

In [21]:
del alist[2]

In [22]:
alist

['Pakistan', 123, 'python programming', 124.5, 'Hello world']

In [24]:
alist.remove(123)
alist

['Pakistan', 'python programming', 124.5, 'Hello world']

In [25]:
students.clear()
students

[]

In [27]:
alist.count(124.5)

1

In [30]:
alist2 = [11, 12, 124, 23]

alist2.sort()
alist2

[11, 12, 23, 124]

In [31]:
alist3 = alist2.copy() #pass by value
#OR alist3 = alist2 assigning not copying. = Pass by Reference
alist3

[11, 12, 23, 124]

In [52]:
#pass by value method 2

alist4 = alist2[:]
alist4

[11, 23, 124]

In [35]:
alist5 = alist4
alist5

[11, 12, 23, 124]

In [38]:
del alist4[0] #Same results
print(alist4)
alist5

[23, 124]

[23, 124]

In [41]:
del alist2[1] #Does not change
print(alist2)
alist4

[11, 23, 124]

[23, 124]

In [53]:
listinlist = [1,2,3,alist4]

In [54]:
listinlist

[1, 2, 3, [11, 23, 124]]

In [56]:
listinlist[3]

[11, 23, 124]

In [55]:
listinlist[3][1]

23

In [57]:
alist4

[11, 23, 124]

In [58]:
del listinlist[3][2]

In [59]:
listinlist

[1, 2, 3, [11, 23]]

In [84]:
a=["pakistan", "usa"]
a[0][0]

'p'

In [76]:
listinlist[3].remove(23)

# SLICING

In [64]:
listSlicing = [1,2,3,4,5,6,7,8,9,0]
listSlicing[2:6]

[3, 4, 5, 6]

In [69]:
listSlicing[2:10]

[3, 4, 5, 6, 7, 8, 9, 0]

In [77]:
listinlist

[1, 2, 3, [11]]

In [78]:
listinlist[3].append(1345)
listinlist

[1, 2, 3, [11, 1345]]

In [86]:
listinlist[3].insert(1, 35)
listinlist

[1, 2, 3, [45, 35, 35, 11, 1345]]

# Reverse Indexing

In [3]:
rlist =     [1,  2,  3,  4,  5,  6,  7,  8,  9] #Starts from right
# reverse = [-9, -8, -7, -6, -5, -4, -3, -2, -1]

In [89]:
rlist[-1]

9

In [91]:
rlist[-5:-1]

[5, 6, 7, 8]

In [92]:
rlist[1:-5]

[2, 3, 4]

In [93]:
rlist[-5:1]

[]

In [6]:
rlist[-5:]

[5, 6, 7, 8, 9]

# Popping

In [9]:
poppedlist=[]
rlist

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [13]:
poppedlist.append(rlist.pop(7))
print(rlist)
poppedlist

[1, 2, 3, 5, 6, 7, 8]

[4, 9]