In [1]:
#Pandas

In [2]:
#Series for Single Dimension
#Dataframe for Multiple Dimension

In [3]:
#Series:
import pandas as pd

In [4]:
obj = pd.Series([3,1,-2,5])
print(obj)

0    3
1    1
2   -2
3    5
dtype: int64

In [10]:
sales = pd.Series([100,200,100,400], index = ['jan', 'feb', 'march', 'aug'])
print(sales)
print(sales.index)
print(sales.values)

jan      100
feb      200
march    100
aug      400
dtype: int64
Index(['jan', 'feb', 'march', 'aug'], dtype='object')
[100 200 100 400]

In [18]:
import calendar as cal
print(cal.month_name[1])
d = list(range(1,8))
print(d)
sw = pd.Series([10,20,30,40,50,60,70], index = d)
print(sw)

#Do same with month

January
[1, 2, 3, 4, 5, 6, 7]
1    10
2    20
3    30
4    40
5    50
6    60
7    70
dtype: int64

In [20]:
print(sw[[3,5]])
print([sw[[2,3]]])

3    30
5    50
dtype: int64
[2    20
3    30
dtype: int64]

In [23]:
print(sw[[2]])

2    20
dtype: int64

In [24]:
print(sw*2)

1     20
2     40
3     60
4     80
5    100
6    120
7    140
dtype: int64

In [25]:
1 in sw

True

In [27]:
'mon' in sw

False

In [30]:
#taking input from numpy
import numpy as np
ar = np.array([1,2,3,4,5,6])
ind = np.array(['a', 'b', 'c', 'd', 'e', 'f'])
S = pd.Series(ar, index = ind)
print(S)

a    1
b    2
c    3
d    4
e    5
f    6
dtype: int32

In [35]:
sData = {"sindh": 3500, "punjab": 10000}
tax_by_state = pd.Series(sData, index = ["punjab","sindh", "GB"])#GB for NaN
print(tax_by_state)
print(tax_by_state.index)
print(pd.isnull(tax_by_state))

punjab    10000.0
sindh      3500.0
GB            NaN
dtype: float64
Index(['punjab', 'sindh', 'GB'], dtype='object')
punjab    False
sindh     False
GB         True
dtype: bool

In [37]:
#Read Agile Strum (project management)

In [38]:
#sw.index = [] to change index

In [39]:
#DataFrame: There is seperate index for row and column.