In [3]:
import pandas as pd
sample_df = pd.read_csv("examples/sample.csv")
print(sample_df)

  studentid         name   chimestry   physics   english   math
0       A01     arif ali          20        30        40     50
1       A02  kamran khan          30        40        50     60
2       A03   imran ali           40        50        60     70
3       A04  kashif khan          50        60        70     80

In [2]:
s2_df = pd.read_csv("examples/sample2.csv")
print(s2_df)
#Heirarichal index
parsed = pd.read_csv("examples/sample2.csv", index_col=['key1', 'key2'])

parsed

  key1 key2  value1  value2
0  one    a       1       2
1  one    b       3       4
2  one    c       5       6
3  one    d       7       8
4  two    a       9      10
5  two    b      11      12
6  two    c      13      14
7  two    d      15      16

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

In [6]:
result = pd.read_csv("examples/sample3.csv")
print(result)
sentinals = {'message' : ['foo', 'NA']}
pd.read_csv('examples/sample3.csv', na_values=sentinals)

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     NaN

In [7]:
#Reading text files in Pieces

In [8]:
pd.read_csv('datasets/train.csv', nrows=200) #Kaggle.com

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1,0,7,0.6,188,2,...,20,756,2549,9,7,19,0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,905,1988,2631,17,3,7,1,1,0,2
2,563,1,0.5,1,2,1,41,0.9,145,5,...,1263,1716,2603,11,2,9,1,1,0,2
3,615,1,2.5,0,0,0,10,0.8,131,6,...,1216,1786,2769,16,8,11,1,0,0,2
4,1821,1,1.2,0,13,1,44,0.6,141,2,...,1208,1212,1411,8,2,15,1,1,0,1
5,1859,0,0.5,1,3,0,22,0.7,164,1,...,1004,1654,1067,17,1,10,1,0,0,1
6,1821,0,1.7,0,4,1,10,0.8,139,8,...,381,1018,3220,13,8,18,1,0,1,3
7,1954,0,0.5,1,0,0,24,0.8,187,4,...,512,1149,700,16,3,5,1,1,1,0
8,1445,1,0.5,0,0,0,53,0.7,174,7,...,386,836,1099,17,1,20,1,0,0,0
9,509,1,0.6,1,2,1,9,0.1,93,5,...,1137,1224,513,19,10,12,1,0,0,0
10,769,1,2.9,1,0,0,9,0.1,182,5,...,248,874,3946,5,2,7,0,0,0,3
11,1520,1,2.2,0,5,1,33,0.5,177,8,...,151,1005,3826,14,9,13,1,1,1,3
12,1815,0,2.8,0,2,0,33,0.6,159,4,...,607,748,1482,18,0,2,1,0,0,1
13,803,1,2.1,0,7,0,17,1.0,198,4,...,344,1440,2680,7,1,4,1,0,1,2
14,1866,0,0.5,0,13,1,52,0.7,185,1,...,356,563,373,14,9,3,1,0,1,0
15,775,0,1.0,0,3,0,46,0.7,159,2,...,862,1864,568,17,15,11,1,1,1,0
16,838,0,0.5,0,1,1,13,0.1,196,8,...,984,1850,3554,10,9,19,1,0,1,3
17,595,0,0.9,1,7,1,23,0.1,121,3,...,441,810,3752,10,2,18,1,1,0,3
18,1131,1,0.5,1,11,0,49,0.6,101,5,...,658,878,1835,19,13,16,1,1,0,1
19,682,1,0.5,0,4,0,19,1.0,121,4,...,902,1064,2337,11,1,18,0,1,1,1
20,772,0,1.1,1,12,0,39,0.8,81,7,...,1314,1854,2819,17,15,3,1,1,0,3
21,1709,1,2.1,0,1,0,13,1.0,156,2,...,974,1385,3283,17,1,15,1,0,0,3
22,1949,0,2.6,1,4,0,47,0.3,199,4,...,407,822,1433,11,5,20,0,0,1,1
23,1602,1,2.8,1,4,1,38,0.7,114,3,...,466,788,1037,8,7,20,1,0,0,0
24,503,0,1.2,1,5,1,8,0.4,111,3,...,201,1245,2583,11,0,12,1,0,0,1
25,961,1,1.4,1,0,1,57,0.6,114,8,...,291,1434,2782,18,9,7,1,1,1,2
26,519,1,1.6,1,7,1,51,0.3,132,4,...,550,645,3763,16,1,4,1,0,1,3
27,956,0,0.5,0,1,1,41,1.0,143,7,...,511,1075,3286,17,8,12,1,1,0,3
28,1453,0,1.6,1,12,1,52,0.3,96,2,...,187,1311,2373,10,1,10,1,1,1,2
29,851,0,0.5,0,3,0,21,0.4,200,5,...,1171,1263,478,12,7,10,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170,1270,1,0.6,1,2,1,32,0.5,101,7,...,299,845,3770,5,3,13,1,1,0,3
171,1854,0,3.0,0,2,1,8,0.1,101,5,...,506,627,1886,17,4,20,1,1,0,1
172,625,1,1.2,1,5,1,10,0.2,183,4,...,635,842,3323,9,1,7,1,1,1,2
173,1577,0,0.5,1,0,1,42,0.3,197,5,...,1045,1737,2060,19,6,12,1,0,0,2
174,534,0,0.5,1,0,1,16,1.0,189,5,...,393,1199,3926,16,12,20,1,0,0,3
175,946,0,1.7,1,8,1,25,0.8,143,6,...,650,1740,2177,7,5,13,1,1,1,2
176,685,0,0.5,0,2,0,29,0.8,93,7,...,433,648,728,14,8,4,0,0,1,0
177,1949,0,1.3,1,0,0,23,0.1,101,5,...,839,1136,2478,14,8,20,1,0,0,3
178,947,0,0.8,1,0,1,22,0.1,197,2,...,1176,1220,2842,16,12,2,1,0,0,2
179,801,1,2.2,1,2,0,63,0.4,165,7,...,650,879,1617,17,4,19,0,0,1,1
180,703,1,2.7,0,12,1,30,0.3,113,1,...,218,1065,1472,14,7,7,1,0,0,0
181,1165,1,2.4,0,11,0,41,0.2,178,6,...,564,831,764,19,12,15,1,0,0,0
182,1082,0,0.8,0,0,0,38,0.1,198,8,...,986,1191,2337,6,1,17,0,1,1,2
183,959,1,2.6,1,15,0,20,1.0,84,4,...,561,1631,3965,16,1,6,1,0,0,3
184,1502,1,1.2,0,0,0,54,0.2,138,5,...,65,588,3693,17,14,16,1,1,0,3
185,1380,1,2.1,1,1,1,4,0.8,92,3,...,420,500,797,13,2,15,1,1,0,0
186,1266,0,0.5,0,0,1,5,0.1,95,6,...,1365,1698,1687,11,0,18,1,0,0,2
187,1934,1,2.6,1,0,1,46,0.1,103,1,...,619,1299,2940,13,9,2,1,1,1,3
188,1905,1,0.5,0,3,1,6,0.5,151,1,...,849,898,1545,9,5,10,1,1,0,1
189,1831,0,1.4,1,2,0,43,0.9,150,5,...,611,1381,3834,17,7,13,1,1,1,3
190,596,0,1.4,0,8,0,46,0.6,165,1,...,953,984,2505,15,4,15,1,1,0,1
191,1562,1,1.3,1,1,1,7,0.2,190,5,...,642,1533,2243,12,10,6,1,0,0,2
192,1490,1,0.5,1,4,1,64,0.3,150,8,...,1417,1464,3600,17,9,7,1,1,1,3
193,1523,1,2.4,0,5,1,57,0.2,117,2,...,247,539,3971,18,12,10,1,1,1,3
194,640,0,0.6,0,0,0,20,0.1,163,4,...,710,1179,2844,7,5,18,1,1,0,2
195,1526,0,2.1,0,1,1,23,0.2,117,7,...,718,751,2227,18,10,3,1,1,0,2
196,1989,0,2.5,1,0,1,41,0.8,94,3,...,1100,1497,1665,17,9,12,1,1,1,2
197,1308,0,1.9,0,0,1,61,0.7,106,3,...,59,1215,3355,15,2,4,1,0,1,3
198,609,0,0.5,0,3,0,26,0.3,93,4,...,938,1948,1866,11,10,14,1,1,1,1
199,1905,0,0.6,1,9,1,36,0.4,119,3,...,825,1542,1287,13,4,16,1,0,0,1

In [25]:
#Specifying chunk size:
chunks = pd.read_csv('datasets/train.csv', chunksize = 500)
print(type(chunks))
print(chunks)

print("\n")
chunklist = []
for chunk in chunks:
    #Each chunk works as DF
    #print(len(chunk))
    #print(chunk.head())
    chunklist.append(chunk)
    
df = chunklist[2]
print(len(chunklist))
df.head()

<class 'pandas.io.parsers.TextFileReader'>
<pandas.io.parsers.TextFileReader object at 0x0000023583AF3080>


4

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
1000,594,0,0.8,0,2,1,28,0.1,132,5,...,1011,1263,3087,16,4,4,1,1,1,2
1001,1524,0,2.6,1,5,0,57,0.5,124,2,...,629,635,947,11,4,16,0,1,1,0
1002,511,1,0.6,1,12,0,50,0.1,175,3,...,140,622,1484,9,7,8,1,0,0,0
1003,1402,1,0.6,1,3,0,46,0.3,87,7,...,1081,1767,347,17,0,12,1,0,1,0
1004,965,1,0.5,0,15,0,53,1.0,131,8,...,297,653,3227,12,6,8,1,0,0,2

In [26]:
#Read about sep

In [27]:
data = pd.read_csv('examples/ex5.csv')
print(data)
data.to_csv("examples/out.csv") #Saved in out csv

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [29]:
pd.read_json('examples/example.json')

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [32]:
#Web data loading into dataframe

tables = pd.read_html('examples/fdic_failed_bank_list.html')
print(str(type(tables)) + "   " + str(len(tables)))

<class 'list'>   1

In [44]:
failures_df = tables[0]
print(failures_df.columns)
#len(failures_df)
print(failures_df.shape)
print(failures_df["Bank Name"].head())
#print(failures_df.columns)
print("\n")
if "City" in failures_df.columns:
    print(failures_df["City"].head())

Index(['Bank Name', 'City', 'ST', 'CERT', 'Acquiring Institution',
       'Closing Date', 'Updated Date'],
      dtype='object')
(547, 7)
0                     Allied Bank
1    The Woodbury Banking Company
2          First CornerStone Bank
3              Trust Company Bank
4      North Milwaukee State Bank
Name: Bank Name, dtype: object


0           Mulberry
1           Woodbury
2    King of Prussia
3            Memphis
4          Milwaukee
Name: City, dtype: object

In [47]:
close_timestamps = pd.to_datetime(failures_df['Closing Date'])

print(type(close_timestamps), close_timestamps.head())

<class 'pandas.core.series.Series'> 0   2016-09-23
1   2016-08-19
2   2016-05-06
3   2016-04-29
4   2016-03-11
Name: Closing Date, dtype: datetime64[ns]

In [48]:
#Binary Data Formats

In [52]:
frame = pd.read_csv('examples/ex1.csv')
frame.to_pickle("examples/frame_pickle")
pd.read_pickle("examples/frame_pickle")

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [53]:
#Using HDF5 #hierachal Data format

In [54]:
import numpy as np

In [73]:
frame = pd.DataFrame({'a': np.random.randn(100)})
store = pd.HDFStore('mydata.h5')
store['obj1'] = frame
store['obj1_col'] = frame['a']
print(store)
x = store.obj1
print(type(x))
print(x.head())

<class 'pandas.io.pytables.HDFStore'>
File path: mydata.h5

<class 'pandas.core.frame.DataFrame'>
          a
0 -0.093679
1 -0.768127
2 -0.185043
3  0.953261
4 -0.196529

In [75]:
frame1 = pd.DataFrame({'a': np.random.randn(100)})
store = pd.HDFStore('mydata1.h5')

store.put('obj2', frame1, format = 'table')
store.select('obj2', where = ['index >= 10 and index <=15'])
store.close()
frame1.to_hdf('mydata1.h5', 'obj3', format= 'table')
frame1 = pd.read_hdf('mydata1.h5', 'obj3', where = ['index<5'])

In [76]:
frame1

          a
0 -0.061479
1 -0.368841
2  1.422206
3  1.044500
4 -0.247763

In [78]:
import requests
url = 'https://api.github.com/repos/pandas-dev/pandas/issues'
resp = requests.get(url)
print(resp)
data = resp.json()
print(type(data))
print(data)

ConnectionError: HTTPSConnectionPool(host='api.github.com', port=443): Max retries exceeded with url: /repos/pandas-dev/pandas/issues (Caused by NewConnectionError('<urllib3.connection.VerifiedHTTPSConnection object at 0x00000235873EF1D0>: Failed to establish a new connection: [WinError 10060] A connection attempt failed because the connected party did not properly respond after a period of time, or established connection failed because connected host has failed to respond'))