In [26]:
a = [11, 22, 33, 44, 55, 66, 77, 88, 99]
a[1]

22

In [29]:
#Slicing with step
a[2:7:2]
#Third parameter is a step

[33, 55, 77]

# Tupples

In [9]:
#Tupples are immutable. Jaisa hai wesa rahega, cant change

In [19]:
t = ("nasir", 3, 4, 5) #packing
t

('nasir', 3, 4, 5)

In [21]:
a,b,c,d = t #Unpacking, can be done with list also.

In [22]:
a

'nasir'

In [23]:
b

3

In [24]:
type(t)

tuple

In [25]:
t

('nasir', 3, 4, 5)

In [30]:
s = t + t

In [31]:
s

('nasir', 3, 4, 5, 'nasir', 3, 4, 5)

In [32]:
q = t + s[1:4]

In [33]:
q

('nasir', 3, 4, 5, 3, 4, 5)

# Loopiiinngsss

In [34]:
#for loop and while loop

In [35]:
students = ["Rabia", "Haroon", "shees"]
print(students)

['Rabia', 'Haroon', 'shees']

In [36]:
for student in students:
    print(student)

Rabia
Haroon
shees

In [39]:
for a in range(1, 10):
    print(a, end=" ")

1 2 3 4 5 6 7 8 9

In [40]:
for a in range(0,10,2):
    print(a, end=" ")

0 2 4 6 8

In [45]:
for a in range(10,0,-1):
    print(a, end=" ")

10 9 8 7 6 5 4 3 2 1

In [ ]:
tableno = int(input("Please input table number to show table: "))

for a in range(1,11):
    if a==6:
        break #Breaks the loop at 6
    
    print(f"{tableno} * {a} = {tableno*a}")

In [1]:
tableno = int(input("Please input table number to show table: "))

for a in range(1,11):
    if a==6 or a==3:
        continue #Skips the point a==6 and a==3
    
    print(f"{tableno} * {a} = {tableno*a}")

Please input table number to show table: 3
3 * 1 = 3
3 * 2 = 6
3 * 4 = 12
3 * 5 = 15
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

In [3]:
for a in range(1,11):
    for b in range(1,4):
        print(f"{a} * {b} = {a*b}")

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30